.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus{
  border-top:3px solid;
  color: white;
}


/***************Accueil******************************/
.home-container{
  position: relative;
  background: url(ordinateur.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  height:90vh;
}

.home-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-information h1{ 
  color: red;
  text-transform: uppercase;
}

.text-auto{
  font-size: 30px;
  color:orange;
  font-weight: bold;
}

/***************Porfolio******************************/
.cadre{
  width: 50
  rem;
  max-height: 25rem;
  margin-top: 15px;
}

  .formulaire{
    margin-top:20px;
   
  }

  footer{
    background-color: gray;
    min-height:100px;
    text-align: center;
    margin-top:1px
    
  }


  .menu:hover{
    background-color:white;
    
    
  }

  .alignement{
    align-content: center;
    background-color: #d2eff7;
    align-content: center;
  }

  main{
    background-color:lightgray;
  }

  .description{
    margin-left: 100px;
    margin-right: 100px;
  }